.wordscarmble {
  text-align: center;
  justify-content: center;
  margin: 0 auto;
}

.wordscramble__words {
  position: relative;
  display: inline-block;
}

.wordscramble__overlay {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
}

.overlay_content {
  color: #fff;
  font-size: 28px;
  margin: auto;
  width: 100%;
}

.overlay-hidden {
  display: none;
}

.puzzle {
  display: inline-block;
  border: 4px solid #189dd2;
  padding: 3vw;
}

.puzzle > div {
  /* rows */
  width: 100%;
  margin: 0 auto;
}

/* style for each square in the puzzle */
.puzzleSquare {
  appearance: none;
  -webkit-appearance: none;
  height: 7vw;
  width: 7vw;
  padding: 0;
  text-transform: uppercase;
  background-color: #efefef;
  border: solid 2px white;
  font-size: 4vw;
  color: #189dd2;
}
@media only screen and (min-width: 600px) {
  .puzzle {
    padding: 1rem;
  }
  .puzzleSquare {
    height: 3.5rem;
    width: 3.5rem;
    font-size: 2.5rem;
  }
}

button::-moz-focus-inner {
  border: 0;
}

/* indicates when a square has been selected */
.puzzle .selected {
  color: white;
  background-color: #189dd2;
}

.success-image {
  position: absolute;
  top: 1px;
  bottom: 60px;
  width: 100%;
  left: 0;
}

.success-image img {
  height: 100%;
  position: relative;
}

.wordscarmble__button {
  opacity: .1;
}

/**
* Styles for the word list
*/
#words {
  display: inline-block;
  max-width: 30rem;
  list-style-type: none;
  text-align: left;
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  column-gap: 20px;
  padding: 0;
}

.words_wrapper {
  margin-top: 24px;
}

#words li {
  font-size: 1rem;
  width: 108px;
  margin-bottom: 10px;
}

#words input {
  background: #ddd;
  border: 0;
  outline: 0;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

/* indicates that the word has been found */
#words .wordFound {
  text-decoration: line-through;
  color: gray;
  background-color: #ccc;
}

/**
* Styles for the controls
*/
#controls {
  display: inline-block;
  max-width: 30rem;
  padding: 1em;
  border: none;
  text-align: left;
}
label {
  white-space: nowrap;
  margin-top: 1em;
}
input {
  border: none;
  border-bottom: 1px solid #ccc;
  font-size: 1em;
}
input[type="number"] {
  width: 2rem;
}
select {
  max-width: 10rem;
}
.puzzle button {
  outline: 0;
}

.puzzle button:focus {
  outline: 0;
}

#create-grid,
#solve {
  display: block;
  margin-top: 1rem;
}
#secret-word {
  text-transform: uppercase;
}

#result-message {
  font-size: 1.2em;
}

.initial-square-horizontal {
  border-top: 2px solid #09ff00;
  border-left: 2px solid #09ff00;
  border-bottom: 2px solid #09ff00;
}

.initial-square-vertical {
  border-top: 2px solid #09ff00;
  border-left: 2px solid #09ff00;
  border-right: 2px solid #09ff00;
}

.last-square-horizontal {
  border-top: 2px solid #09ff00;
  border-right: 2px solid #09ff00;
  border-bottom: 2px solid #09ff00;
}

.last-square-vertical {
  border-left: 2px solid #09ff00;
  border-right: 2px solid #09ff00;
  border-bottom: 2px solid #09ff00;
}

.puzzle-square-horizontal-middle {
  border-top: 2px solid #09ff00;
  border-bottom: 2px solid #09ff00;
}

.puzzle-square-vertical-middle {
  border-left: 2px solid #09ff00;
  border-right: 2px solid #09ff00;
}

.selected-puzzle-square {
  background-color: #189dd2;
}
