{#
/**
 * @file
 * Word Scramble HTML.
 */
#}

<div id="main" class="wordscarmble" role="main">
  <h3 class="wordscarmble__heading"> {{ data.title }}</h3>
  {% if data.instruction %}
    <p class="wordscarmble__promt">{{ data.instruction }}</p>
  {% endif %}
  <div class="mt-3 wordscramble__words">
    <!-- contains grid -->
    <div>
      <div id="puzzle-{{uniqueID}}"></div>
      <!-- contains the list of words words -->
    </div>
    {% if data.success_text or data.play_again %}
      <div class="wordscramble__overlay overlay-hidden">
        <div class="overlay_content">
          <p> {{ data.success_text }}</p>
          {% if data.play_again %}
            <input type="button" id="wordscarmble-reset-{{ uniqueID }}" class="btn-disabled button btn btn-blue wordscarmble__button mt-3" disabled value="{{data.play_again}}" />
          {% endif %}
        </div>
      </div>
    {% endif %}
  </div>
  <div class="words_wrapper">
    <ul id="words">
      <li><button id="add-word-{{uniqueID}}" class="add-word col-lg-6" style="display: none;">Add word</button></li>
    </ul>
  </div>
</div>
